
/*
 * netscdde.rc:
 *      Copyright (C) 1997-98 Ulrich M”ller.
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation, in version 2 as it comes in the COPYING
 *      file of the XFolder main distribution.
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 */

#include <os2.h>
#include "netscdde.h"

POINTER ID_ICON LOADONCALL MOVEABLE DISCARDABLE netscdde.ico

rcinclude "netscdde.dlg"

MENU    DDEC
BEGIN
    SUBMENU         "~Commands",   IDM_MENU
    BEGIN
        MENUITEM    "~Initiate DDE",   IDM_INITIATE
        MENUITEM    "~Open URL in existing window",       IDM_OPENURL
        MENUITEM    "~Open URL in new window",       IDM_OPENURLNEW
        MENUITEM    "~Close DDE",      IDM_CLOSE
        MENUITEM    "~Exit",       IDM_EXIT
    END
END

