
/*
 * xfldr.rc:
 *      resource file for the XWorkplace main module (XFLDR.DLL).
 *      This only contains resources which are independent of
 *      the currently selected XWorkplace language, such as icons
 *      and bitmaps.
 *
 *      Copyright (C) 1997-2000 Ulrich M”ller.
 *      This file is part of the XWorkplace source package.
 *      XWorkplace is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published
 *      by the Free Software Foundation, in version 2 as it comes in the
 *      "COPYING" file of the XWorkplace main distribution.
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 */

#include "dlgids.h"
#include "build.h"

POINTER ID_ICONDLG LOADONCALL MOVEABLE DISCARDABLE xfldrdlg.ico

POINTER ID_STARTICON1 LOADONCALL MOVEABLE DISCARDABLE xfldstart1.ico
POINTER ID_STARTICON2 LOADONCALL MOVEABLE DISCARDABLE xfldstart2.ico
POINTER ID_SHUTICON1 LOADONCALL MOVEABLE DISCARDABLE xfldshut1.ico
POINTER ID_SHUTICON2 LOADONCALL MOVEABLE DISCARDABLE xfldshut2.ico

POINTER ID_ICONSYS LOADONCALL MOVEABLE DISCARDABLE xfsys.ico
POINTER ID_ICONWPS LOADONCALL MOVEABLE DISCARDABLE xfwps.ico

POINTER ID_ICONXWPCONFG LOADONCALL MOVEABLE DISCARDABLE xwpconfg.ico
POINTER ID_ICONXWPLIST  LOADONCALL MOVEABLE DISCARDABLE xclslist.ico
POINTER ID_ICONXWPSOUND  LOADONCALL MOVEABLE DISCARDABLE xwpsound.ico
POINTER ID_ICONXWPSCREEN  LOADONCALL MOVEABLE DISCARDABLE xwpscreen.ico
POINTER ID_ICONXMMVOLUME  LOADONCALL MOVEABLE DISCARDABLE volume.ico

POINTER ID_ICONXWPTRASHEMPTY  LOADONCALL MOVEABLE DISCARDABLE xtrash1.ico
POINTER ID_ICONXWPTRASHFILLED LOADONCALL MOVEABLE DISCARDABLE xtrash2.ico

POINTER ID_ICONXWPMEDIA  LOADONCALL MOVEABLE DISCARDABLE xwpmedia.ico
POINTER ID_ICONXWPSTRING LOADONCALL MOVEABLE DISCARDABLE xwpstring.ico

POINTER ID_ICONSDANIM1 LOADONCALL MOVEABLE DISCARDABLE xfshut1.ico
POINTER ID_ICONSDANIM2 LOADONCALL MOVEABLE DISCARDABLE xfshut2.ico
POINTER ID_ICONSDANIM3 LOADONCALL MOVEABLE DISCARDABLE xfshut3.ico
POINTER ID_ICONSDANIM4 LOADONCALL MOVEABLE DISCARDABLE xfshut4.ico
POINTER ID_ICONSDANIM5 LOADONCALL MOVEABLE DISCARDABLE xfshut5.ico

POINTER ID_ICONMENUARROW4 LOADONCALL MOVEABLE DISCARDABLE menuarr4.ICO
POINTER ID_ICONMENUARROW3 LOADONCALL MOVEABLE DISCARDABLE menuarr3.ICO

BITMAP ID_XWPBIGLOGO LOADONCALL MOVEABLE DISCARDABLE xwplogo.bmp

/* XWorkplace build level: new with V1.00. This is defined in build.h
   and is automatically maintained by xwp.mak. */
STRINGTABLE
BEGIN
    ID_XSSI_KERNEL_BUILD            XFOLDER_KERNEL_BUILD
END

