
/*
 * xwpres.rc:
 *      resource file for the XWorkplace resources module (XWPRES.DLL).
 *      This only contains resources which are independent of
 *      the currently selected XWorkplace language, such as icons
 *      and bitmaps. These used to be in XFLDR.DLL, but have been
 *      moved into a separate resource module with V0.9.7.
 *
 *      Copyright (C) 1997-2000 Ulrich M”ller.
 *      This file is part of the XWorkplace source package.
 *      XWorkplace is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published
 *      by the Free Software Foundation, in version 2 as it comes in the
 *      "COPYING" file of the XWorkplace main distribution.
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 */

#include "dlgids.h"

POINTER ID_ICONDLG LOADONCALL MOVEABLE DISCARDABLE xfldrdlg.ico

POINTER ID_STARTICON1 LOADONCALL MOVEABLE DISCARDABLE xfldstart1.ico
POINTER ID_STARTICON2 LOADONCALL MOVEABLE DISCARDABLE xfldstart2.ico
POINTER ID_SHUTICON1 LOADONCALL MOVEABLE DISCARDABLE xfldshut1.ico
POINTER ID_SHUTICON2 LOADONCALL MOVEABLE DISCARDABLE xfldshut2.ico

POINTER ID_ICONSYS LOADONCALL MOVEABLE DISCARDABLE xfsys.ico
POINTER ID_ICONWPS LOADONCALL MOVEABLE DISCARDABLE xfwps.ico

POINTER ID_ICONXWPCONFG LOADONCALL MOVEABLE DISCARDABLE xwpconfg.ico
POINTER ID_ICONXWPLIST  LOADONCALL MOVEABLE DISCARDABLE xclslist.ico
POINTER ID_ICONXWPSOUND  LOADONCALL MOVEABLE DISCARDABLE xwpsound.ico
POINTER ID_ICONXWPSCREEN  LOADONCALL MOVEABLE DISCARDABLE xwpscreen.ico
POINTER ID_ICONXMMCDPLAY  LOADONCALL MOVEABLE DISCARDABLE mmcdplay.ico
POINTER ID_ICONXMMVOLUME  LOADONCALL MOVEABLE DISCARDABLE mmvolume.ico
POINTER ID_ICONXCENTER LOADONCALL MOVEABLE DISCARDABLE xcenter.ico
POINTER ID_ICONXMINI LOADONCALL MOVEABLE DISCARDABLE x-mini.ico
POINTER ID_ICONXWPADMIN LOADONCALL MOVEABLE DISCARDABLE xwpadmin.ico

POINTER ID_ICONXWPTRASHEMPTY  LOADONCALL MOVEABLE DISCARDABLE xtrash1.ico
POINTER ID_ICONXWPTRASHFILLED LOADONCALL MOVEABLE DISCARDABLE xtrash2.ico

POINTER ID_ICONXWPMEDIA  LOADONCALL MOVEABLE DISCARDABLE xwpmedia.ico
POINTER ID_ICONXWPSTRING LOADONCALL MOVEABLE DISCARDABLE xwpstring.ico

POINTER ID_ICONSDANIM1 LOADONCALL MOVEABLE DISCARDABLE xfshut1.ico
POINTER ID_ICONSDANIM2 LOADONCALL MOVEABLE DISCARDABLE xfshut2.ico
POINTER ID_ICONSDANIM3 LOADONCALL MOVEABLE DISCARDABLE xfshut3.ico
POINTER ID_ICONSDANIM4 LOADONCALL MOVEABLE DISCARDABLE xfshut4.ico
POINTER ID_ICONSDANIM5 LOADONCALL MOVEABLE DISCARDABLE xfshut5.ico

POINTER ID_ICON_CDEJECT LOADONCALL MOVEABLE DISCARDABLE cd_eject.ico
POINTER ID_ICON_CDNEXT LOADONCALL MOVEABLE DISCARDABLE cd_next.ico
POINTER ID_ICON_CDPAUSE LOADONCALL MOVEABLE DISCARDABLE cd_pause.ico
POINTER ID_ICON_CDPLAY LOADONCALL MOVEABLE DISCARDABLE cd_play.ico
POINTER ID_ICON_CDPREV LOADONCALL MOVEABLE DISCARDABLE cd_prev.ico
POINTER ID_ICON_CDSTOP LOADONCALL MOVEABLE DISCARDABLE cd_stop.ico

POINTER ID_ICONXWPFONTCLOSED   LOADONCALL MOVEABLE DISCARDABLE fontfdr0.ico
POINTER ID_ICONXWPFONTOPEN     LOADONCALL MOVEABLE DISCARDABLE fontfdr1.ico
POINTER ID_ICONXWPFONTOBJ      LOADONCALL MOVEABLE DISCARDABLE fontobj.ico

POINTER ID_ICON_DRIVE LOADONCALL MOVEABLE DISCARDABLE drive.ico
POINTER ID_ICON_DRIVE_CD LOADONCALL MOVEABLE DISCARDABLE drv_cd.ico
POINTER ID_ICON_DRIVE_LAN LOADONCALL MOVEABLE DISCARDABLE drv_lan.ico
POINTER ID_ICON_DRIVE_NORMAL LOADONCALL MOVEABLE DISCARDABLE drv_normal.ico
POINTER ID_POINTER_HAND LOADONCALL MOVEABLE DISCARDABLE hand.ptr

POINTER ID_POWER_AC LOADONCALL MOVEABLE DISCARDABLE pwr_ac.ico
POINTER ID_POWER_BATTERY LOADONCALL MOVEABLE DISCARDABLE pwr_battery.ico

POINTER ID_ICON_TRAY LOADONCALL MOVEABLE DISCARDABLE tray.ico

BITMAP ID_XWPBIGLOGO LOADONCALL MOVEABLE DISCARDABLE xwplogo.bmp


