
/*
 * xwpres.rc:
 *      resource file for the XWorkplace resources module (XWPRES.DLL).
 *      This only contains resources which are independent of
 *      the currently selected XWorkplace language, such as icons
 *      and bitmaps. These used to be in XFLDR.DLL, but have been
 *      moved into a separate resource module with V0.9.7.
 *
 *      Copyright (C) 1997-2006 Ulrich M”ller.
 *      This file is part of the XWorkplace source package.
 *      XWorkplace is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published
 *      by the Free Software Foundation, in version 2 as it comes in the
 *      "COPYING" file of the XWorkplace main distribution.
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 */

#include "dlgids.h"
#include "custom.h"

POINTER ID_ICONDLG              LOADONCALL MOVEABLE DISCARDABLE XFLDRDLG_ICO

POINTER ID_STARTICON1           LOADONCALL MOVEABLE DISCARDABLE XFLDSTART1_ICO 
POINTER ID_STARTICON2           LOADONCALL MOVEABLE DISCARDABLE XFLDSTART2_ICO 
POINTER ID_SHUTICON1            LOADONCALL MOVEABLE DISCARDABLE XFLDSHUT1_ICO  
POINTER ID_SHUTICON2            LOADONCALL MOVEABLE DISCARDABLE XFLDSHUT2_ICO  

POINTER ID_ICONSYS              LOADONCALL MOVEABLE DISCARDABLE XFSYS_ICO      
POINTER ID_ICONWPS              LOADONCALL MOVEABLE DISCARDABLE XFWPS_ICO      

POINTER ID_ICONXWPCONFG         LOADONCALL MOVEABLE DISCARDABLE XWPCONFG_ICO   
POINTER ID_ICONXWPLIST          LOADONCALL MOVEABLE DISCARDABLE XCLSLIST_ICO   
POINTER ID_ICONXWPSOUND         LOADONCALL MOVEABLE DISCARDABLE XWPSOUND_ICO   
POINTER ID_ICONXWPSCREEN        LOADONCALL MOVEABLE DISCARDABLE XWPSCREEN_ICO  
POINTER ID_ICONXMMVOLUME        LOADONCALL MOVEABLE DISCARDABLE MMVOLUME_ICO   
POINTER ID_ICONXCENTER          LOADONCALL MOVEABLE DISCARDABLE XCENTER_ICO    

POINTER ID_ICONXWPTRASHEMPTY    LOADONCALL MOVEABLE DISCARDABLE XTRASH1_ICO    
POINTER ID_ICONXWPTRASHFILLED   LOADONCALL MOVEABLE DISCARDABLE XTRASH2_ICO    

POINTER ID_ICONXWPSTRING        LOADONCALL MOVEABLE DISCARDABLE XWPSTRING_ICO  
POINTER ID_ICONXWPVCARD         LOADONCALL MOVEABLE DISCARDABLE VCARD_ICO      
POINTER ID_ICONXWPSHADOWOVERLAY LOADONCALL MOVEABLE DISCARDABLE SHADOW_ICO     
POINTER ID_POINTER_HAND         LOADONCALL MOVEABLE DISCARDABLE HAND_PTR       

POINTER ID_ICONSDANIM1          LOADONCALL MOVEABLE DISCARDABLE XFSHUT1_ICO    
POINTER ID_ICONSDANIM2          LOADONCALL MOVEABLE DISCARDABLE XFSHUT2_ICO    
POINTER ID_ICONSDANIM3          LOADONCALL MOVEABLE DISCARDABLE XFSHUT3_ICO    
POINTER ID_ICONSDANIM4          LOADONCALL MOVEABLE DISCARDABLE XFSHUT4_ICO    
POINTER ID_ICONSDANIM5          LOADONCALL MOVEABLE DISCARDABLE XFSHUT5_ICO    

POINTER ID_ICONXWPFONTCLOSED    LOADONCALL MOVEABLE DISCARDABLE FONTFDR0_ICO   
POINTER ID_ICONXWPFONTOPEN      LOADONCALL MOVEABLE DISCARDABLE FONTFDR1_ICO   
POINTER ID_ICONXWPFONTOBJ       LOADONCALL MOVEABLE DISCARDABLE FONTOBJ_ICO    
POINTER ID_ICONXWPFONTFILE      LOADONCALL MOVEABLE DISCARDABLE FONTOBJ_ICO    

POINTER ID_ICON_DRIVE           LOADONCALL MOVEABLE DISCARDABLE DRIVE_ICO      
POINTER ID_ICON_DRIVE_CD        LOADONCALL MOVEABLE DISCARDABLE DRV_CD_ICO     
POINTER ID_ICON_DRIVE_LAN       LOADONCALL MOVEABLE DISCARDABLE DRV_LAN_ICO    
POINTER ID_ICON_DRIVE_NORMAL    LOADONCALL MOVEABLE DISCARDABLE DRV_NORMAL_ICO 

POINTER ID_POWER_AC             LOADONCALL MOVEABLE DISCARDABLE PWR_AC_ICO     
POINTER ID_POWER_BATTERY        LOADONCALL MOVEABLE DISCARDABLE PWR_BATTERY_ICO

#ifndef __XWPLITE__
POINTER ID_ICONXWPADMIN         LOADONCALL MOVEABLE DISCARDABLE XWPADMIN_ICO   
POINTER ID_ICONXMMCDPLAY        LOADONCALL MOVEABLE DISCARDABLE MMCDPLAY_ICO   
POINTER ID_ICONXWPMEDIA         LOADONCALL MOVEABLE DISCARDABLE XWPMEDIA_ICO   
POINTER ID_ICON_CDEJECT         LOADONCALL MOVEABLE DISCARDABLE CD_EJECT_ICO   
POINTER ID_ICON_CDNEXT          LOADONCALL MOVEABLE DISCARDABLE CD_NEXT_ICO    
POINTER ID_ICON_CDPAUSE         LOADONCALL MOVEABLE DISCARDABLE CD_PAUSE_ICO   
POINTER ID_ICON_CDPLAY          LOADONCALL MOVEABLE DISCARDABLE CD_PLAY_ICO    
POINTER ID_ICON_CDPREV          LOADONCALL MOVEABLE DISCARDABLE CD_PREV_ICO    
POINTER ID_ICON_CDSTOP          LOADONCALL MOVEABLE DISCARDABLE CD_STOP_ICO    
#endif

/*POINTER ID_ICONXMINI            LOADONCALL MOVEABLE DISCARDABLE X_MINI_ICO*/ 

BITMAP ID_BMPXMINI              LOADONCALL MOVEABLE DISCARDABLE XWPMINILOGO_BMP
BITMAP ID_XWPBIGLOGO            LOADONCALL MOVEABLE DISCARDABLE XWPLOGO_BMP
BITMAP ID_BITMAP_TRAY           LOADONCALL MOVEABLE DISCARDABLE TRAY_BMP

