#define INCL_PM
#include <os2.h>
#define WPMENUID_USER          0x6500
#include "..\..\include\dlgids.h"
#include "..\..\include\bldlevel.h"
#include "r_amptr001.h"

ICON   IDDLG_DLG_ABOUT   about.ico

//
// Strings
//

MESSAGETABLE
BEGIN
   IDMSG_TITLE_ERROR                   IDT_IDMSG_TITLE_ERROR
   IDMSG_ANIMATIONPATH_NOT_FOUND       IDT_IDMSG_ANIMATIONPATH_NOT_FOUND
   IDMSG_TITLENOTFOUND                 IDT_IDMSG_TITLENOTFOUND
   IDMSG_MSGNOTFOUND                   IDT_IDMSG_MSGNOTFOUND
END

STRINGTABLE
BEGIN
   IDSTR_VERSION                       BLDLEVEL_VERSION

   IDTAB_NBPAGE                        IDT_IDTAB_NBPAGE
   IDTAB_NBANIMATION                   IDT_IDTAB_NBANIMATION
   IDTAB_NBHIDE                        IDT_IDTAB_NBHIDE
   IDTAB_NBDRAGDROP                    IDT_IDTAB_NBDRAGDROP
   IDTAB_NBINIT                        IDT_IDTAB_NBINIT

   IDTAB_NBGENERAL_230                 IDT_IDTAB_NBGENERAL_230
   IDTAB_NBGENERAL                     IDT_IDTAB_NBGENERAL

   IDSTR_FILETYPE_DEFAULT              IDT_IDSTR_FILETYPE_DEFAULT
   IDSTR_FILETYPE_POINTER              IDT_IDSTR_FILETYPE_POINTER
   IDSTR_FILETYPE_POINTERSET           IDT_IDSTR_FILETYPE_POINTERSET
   IDSTR_FILETYPE_CURSOR               IDT_IDSTR_FILETYPE_CURSOR
   IDSTR_FILETYPE_CURSORSET            IDT_IDSTR_FILETYPE_CURSORSET
   IDSTR_FILETYPE_ANIMOUSE             IDT_IDSTR_FILETYPE_ANIMOUSE
   IDSTR_FILETYPE_ANIMOUSESET          IDT_IDSTR_FILETYPE_ANIMOUSESET
   IDSTR_FILETYPE_WINANIMATION         IDT_IDSTR_FILETYPE_WINANIMATION
   IDSTR_FILETYPE_WINANIMATIONSET      IDT_IDSTR_FILETYPE_WINANIMATIONSET
   IDSTR_FILETYPE_ANIMATIONSETDIR      IDT_IDSTR_FILETYPE_ANIMATIONSETDIR
   IDSTR_FILETYPE_ALL                  IDT_IDSTR_FILETYPE_ALL

   IDSTR_POINTER_ARROW                 IDT_IDSTR_POINTER_ARROW
   IDSTR_POINTER_TEXT                  IDT_IDSTR_POINTER_TEXT
   IDSTR_POINTER_WAIT                  IDT_IDSTR_POINTER_WAIT
   IDSTR_POINTER_SIZENWSE              IDT_IDSTR_POINTER_SIZENWSE
   IDSTR_POINTER_SIZEWE                IDT_IDSTR_POINTER_SIZEWE
   IDSTR_POINTER_MOVE                  IDT_IDSTR_POINTER_MOVE
   IDSTR_POINTER_SIZENESW              IDT_IDSTR_POINTER_SIZENESW
   IDSTR_POINTER_SIZENS                IDT_IDSTR_POINTER_SIZENS
   IDSTR_POINTER_ILLEGAL               IDT_IDSTR_POINTER_ILLEGAL

   IDSTR_TITLE_ICON                    IDT_IDSTR_TITLE_ICON
   IDSTR_TITLE_NAME                    IDT_IDSTR_TITLE_NAME
   IDSTR_TITLE_STATUS                  IDT_IDSTR_TITLE_STATUS
   IDSTR_TITLE_ANIMATIONTYPE           IDT_IDSTR_TITLE_ANIMATIONTYPE
   IDSTR_TITLE_POINTER                 IDT_IDSTR_TITLE_POINTER
   IDSTR_TITLE_ANIMATIONNAME           IDT_IDSTR_TITLE_ANIMATIONNAME
   IDSTR_TITLE_FRAMERATE               IDT_IDSTR_TITLE_FRAMERATE
   IDSTR_TITLE_INFONAME                IDT_IDSTR_TITLE_INFONAME
   IDSTR_TITLE_INFOARTIST              IDT_IDSTR_TITLE_INFOARTIST
   IDSTR_STATUS_ON                     IDT_IDSTR_STATUS_ON
   IDSTR_STATUS_OFF                    IDT_IDSTR_STATUS_OFF


   IDDLG_DLG_EDITANIMATION             IDT_IDDLG_DLG_EDITANIMATION
   IDSTR_TITLE_IMAGE                   IDT_IDSTR_TITLE_IMAGE
   IDSTR_SELECTED_NONE                 IDT_IDSTR_SELECTED_NONE
   IDSTR_SELECTED_FRAME                IDT_IDSTR_SELECTED_FRAME
   IDSTR_SELECTED_FRAMES               IDT_IDSTR_SELECTED_FRAMES
   IDSTR_UNIT_MILLISECONDS             IDT_IDSTR_UNIT_MILLISECONDS
   IDSTR_UNIT_JIFFIES                  IDT_IDSTR_UNIT_JIFFIES

   IDMEN_FOLDER_SETTINGS_230           IDT_IDMEN_FOLDER_SETTINGS_230
   IDDLG_DLG_CNRSETTINGS_230           IDT_IDDLG_DLG_CNRSETTINGS_230
   IDDLG_DLG_CNRSETTINGS               IDT_IDDLG_DLG_CNRSETTINGS
END


//
// MenÅs fÅr Pointer page
//

MENU IDMEN_ITEM
BEGIN
  PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
  SUBMENU  IDT_IDMEN_ITEM_HELP,                IDMEN_ITEM_HELP,           MIS_TEXT
  BEGIN
     MENUITEM IDT_IDMEN_ITEM_HELP_INDEX,       IDMEN_ITEM_HELP_INDEX,     MIS_TEXT, MIA_DISABLED
     MENUITEM IDT_IDMEN_ITEM_HELP_GENERAL,     IDMEN_ITEM_HELP_GENERAL,   MIS_TEXT
     MENUITEM IDT_IDMEN_ITEM_HELP_USING,       IDMEN_ITEM_HELP_USING,     MIS_TEXT, MIA_DISABLED
     MENUITEM IDT_IDMEN_ITEM_HELP_KEYS,        IDMEN_ITEM_HELP_KEYS,      MIS_TEXT
     MENUITEM "",                              -1,                        MIS_SEPARATOR
     MENUITEM IDT_IDMEN_ITEM_HELP_ABOUT,       IDMEN_ITEM_HELP_ABOUT,     MIS_TEXT
  END
  MENUITEM "",                              -1,                           MIS_SEPARATOR
  MENUITEM IDT_IDMEN_ITEM_EDIT,             IDMEN_ITEM_EDIT,              MIS_TEXT
  MENUITEM IDT_IDMEN_ITEM_FIND,             IDMEN_ITEM_FIND,              MIS_TEXT
  MENUITEM IDT_IDMEN_ITEM_SAVEAS,           IDMEN_ITEM_SAVEAS,            MIS_TEXT
  MENUITEM IDT_IDMEN_ITEM_DEFAULT,          IDMEN_ITEM_DEFAULT,           MIS_TEXT
  MENUITEM "",                              -1,                           MIS_SEPARATOR
  MENUITEM IDT_IDMEN_ITEM_ANIMATE,          IDMEN_ITEM_ANIMATE,           MIS_TEXT
END

MENU IDMEN_FOLDER
BEGIN
  PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
  SUBMENU  IDT_IDMEN_FOLDER_VIEW,           IDMEN_FOLDER_VIEW,            MIS_TEXT
  BEGIN
     MENUITEM IDT_IDMEN_FOLDER_VIEW_ICON,      IDMEN_FOLDER_VIEW_ICON,    MIS_TEXT
     MENUITEM IDT_IDMEN_FOLDER_VIEW_DETAIL,    IDMEN_FOLDER_VIEW_DETAIL,  MIS_TEXT
  END
  MENUITEM IDT_IDMEN_FOLDER_SETTINGS,       IDMEN_FOLDER_SETTINGS,        MIS_TEXT
  SUBMENU  IDT_IDMEN_FOLDER_HELP,              IDMEN_FOLDER_HELP,         MIS_TEXT
  BEGIN
     MENUITEM IDT_IDMEN_FOLDER_HELP_INDEX,     IDMEN_FOLDER_HELP_INDEX,   MIS_TEXT, MIA_DISABLED
     MENUITEM IDT_IDMEN_FOLDER_HELP_GENERAL,   IDMEN_FOLDER_HELP_GENERAL, MIS_TEXT
     MENUITEM IDT_IDMEN_FOLDER_HELP_USING,     IDMEN_FOLDER_HELP_USING,   MIS_TEXT, MIA_DISABLED
     MENUITEM IDT_IDMEN_FOLDER_HELP_KEYS,      IDMEN_FOLDER_HELP_KEYS,    MIS_TEXT
     MENUITEM "",                              -1,                        MIS_SEPARATOR
     MENUITEM IDT_IDMEN_FOLDER_HELP_ABOUT,     IDMEN_FOLDER_HELP_ABOUT,   MIS_TEXT
  END
  MENUITEM "",                              -1,                           MIS_SEPARATOR
  MENUITEM IDT_IDMEN_FOLDER_FIND,           IDMEN_FOLDER_FIND,            MIS_TEXT
  MENUITEM IDT_IDMEN_FOLDER_SAVEAS,         IDMEN_FOLDER_SAVEAS,          MIS_TEXT
  MENUITEM IDT_IDMEN_FOLDER_DEFAULT,        IDMEN_FOLDER_DEFAULT,         MIS_TEXT
  MENUITEM "",                              -1,                           MIS_SEPARATOR
  MENUITEM IDT_IDMEN_FOLDER_HIDEPOINTER,    IDMEN_FOLDER_HIDEPOINTER,     MIS_TEXT
  MENUITEM IDT_IDMEN_FOLDER_BLACKWHITE,     IDMEN_FOLDER_BLACKWHITE,      MIS_TEXT
  MENUITEM "",                              -1,                           MIS_SEPARATOR
  MENUITEM IDT_IDMEN_FOLDER_DEMO,           IDMEN_FOLDER_DEMO,            MIS_TEXT
  MENUITEM IDT_IDMEN_FOLDER_ANIMATE,        IDMEN_FOLDER_ANIMATE,         MIS_TEXT
END

//
// MenÅs fÅr Dateiklassen
//

// Convert-Submenu for WPS file classes

MENU IDMEN_CONVERT_MENU
BEGIN
  MENUITEM "",                                      -1,                            MIS_SEPARATOR
  SUBMENU        IDT_IDMEN_CONVERT_SUBMENU,         -1,                            MIS_TEXT
  BEGIN
     MENUITEM    IDT_IDMEN_CONVERT_POINTER,         IDMEN_CONVERT_POINTER,         MIS_TEXT
     MENUITEM    IDT_IDMEN_CONVERT_CURSOR,          IDMEN_CONVERT_CURSOR,          MIS_TEXT
     MENUITEM    IDT_IDMEN_CONVERT_WINANIMATION,    IDMEN_CONVERT_WINANIMATION,    MIS_TEXT
     MENUITEM    IDT_IDMEN_CONVERT_ANIMOUSE,        IDMEN_CONVERT_ANIMOUSE,        MIS_TEXT
  END
END

// Menu for Animation Editor

MENU IDDLG_DLG_EDITANIMATION
BEGIN
  SUBMENU        IDT_IDMEN_AE_FILE,                 IDMEN_AE_FILE,                 MIS_TEXT
  BEGIN
     MENUITEM    IDT_IDMEN_AE_FILE_NEW,             IDMEN_AE_FILE_NEW,             MIS_TEXT
     MENUITEM    IDT_IDMEN_AE_FILE_OPEN,            IDMEN_AE_FILE_OPEN,            MIS_TEXT
     MENUITEM    IDT_IDMEN_AE_FILE_SAVE,            IDMEN_AE_FILE_SAVE,            MIS_TEXT
     MENUITEM    IDT_IDMEN_AE_FILE_SAVEAS,          IDMEN_AE_FILE_SAVEAS,          MIS_TEXT
     MENUITEM "",                                   -1,                            MIS_SEPARATOR
     MENUITEM    IDT_IDMEN_AE_FILE_IMPORT,          IDMEN_AE_FILE_IMPORT,          MIS_TEXT, MIA_DISABLED
     MENUITEM "",                                   -1,                            MIS_SEPARATOR
     MENUITEM    IDT_IDMEN_AE_FILE_EXIT,            IDMEN_AE_FILE_EXIT,            MIS_TEXT
  END
  SUBMENU        IDT_IDMEN_AE_EDIT,                 IDMEN_AE_EDIT,                 MIS_TEXT
  BEGIN
     MENUITEM    IDT_IDMEN_AE_EDIT_COPY,            IDMEN_AE_EDIT_COPY,            MIS_TEXT, MIA_DISABLED
     MENUITEM    IDT_IDMEN_AE_EDIT_CUT,             IDMEN_AE_EDIT_CUT,             MIS_TEXT, MIA_DISABLED
     MENUITEM    IDT_IDMEN_AE_EDIT_PASTE,           IDMEN_AE_EDIT_PASTE,           MIS_TEXT, MIA_DISABLED
     MENUITEM    IDT_IDMEN_AE_EDIT_DELETE,          IDMEN_AE_EDIT_DELETE,          MIS_TEXT
     MENUITEM "",                                   -1,                            MIS_SEPARATOR
     MENUITEM    IDT_IDMEN_AE_EDIT_SELECTALL,       IDMEN_AE_EDIT_SELECTALL,       MIS_TEXT
     MENUITEM    IDT_IDMEN_AE_EDIT_DESELECTALL,     IDMEN_AE_EDIT_DESELECTALL,     MIS_TEXT
  END
  SUBMENU        IDT_IDMEN_AE_PALETTE,              IDMEN_AE_PALETTE,              MIS_TEXT
  BEGIN
     MENUITEM    IDT_IDMEN_AE_PALETTE_OPEN,         IDMEN_AE_PALETTE_OPEN,         MIS_TEXT, MIA_DISABLED
     MENUITEM    IDT_IDMEN_AE_PALETTE_SAVEAS,       IDMEN_AE_PALETTE_SAVEAS,       MIS_TEXT, MIA_DISABLED
     MENUITEM "",                                   -1,                            MIS_SEPARATOR
     MENUITEM    IDT_IDMEN_AE_PALETTE_COPY,         IDMEN_AE_PALETTE_COPY,         MIS_TEXT, MIA_DISABLED
     MENUITEM    IDT_IDMEN_AE_PALETTE_PASTE,        IDMEN_AE_PALETTE_PASTE,        MIS_TEXT, MIA_DISABLED
  END
  SUBMENU        IDT_IDMEN_AE_OPTION,               IDMEN_AE_OPTION,               MIS_TEXT
  BEGIN
     SUBMENU     IDT_IDMEN_AE_OPTION_UNIT,          IDMEN_AE_OPTION_UNIT,          MIS_TEXT
     BEGIN
        MENUITEM IDT_IDMEN_AE_OPTION_UNIT_MS,       IDMEN_AE_OPTION_UNIT_MS,       MIS_TEXT
        MENUITEM IDT_IDMEN_AE_OPTION_UNIT_JIF,      IDMEN_AE_OPTION_UNIT_JIF,      MIS_TEXT
     END
  END
  SUBMENU        IDT_IDMEN_AE_HELP,                 IDMEN_AE_HELP,                 MIS_TEXT
  BEGIN
     MENUITEM    IDT_IDMEN_AE_HELP_INDEX,           IDMEN_AE_HELP_INDEX,           MIS_TEXT, MIA_DISABLED
     MENUITEM    IDT_IDMEN_AE_HELP_GENERAL,         IDMEN_AE_HELP_GENERAL,         MIS_TEXT, MIA_DISABLED
     MENUITEM    IDT_IDMEN_AE_HELP_USING,           IDMEN_AE_HELP_USING,           MIS_TEXT, MIA_DISABLED
     MENUITEM    IDT_IDMEN_AE_HELP_KEYS,            IDMEN_AE_HELP_KEYS,            MIS_TEXT, MIA_DISABLED
     MENUITEM    "",                                -1,                            MIS_SEPARATOR
     MENUITEM    IDT_IDMEN_AE_ABOUT,                IDMEN_AE_HELP_ABOUT,           MIS_TEXT, MIA_DISABLED
  END
END

// Menu for Animation Editor item context menu

MENU IDMEN_EDITITEM
BEGIN
  MENUITEM       IDT_IDMEN_AE_EDIT_COPY,            IDMEN_AE_EDIT_COPY,            MIS_TEXT, MIA_DISABLED
  MENUITEM       IDT_IDMEN_AE_EDIT_CUT,             IDMEN_AE_EDIT_CUT,             MIS_TEXT, MIA_DISABLED
  MENUITEM       IDT_IDMEN_AE_EDIT_PASTE,           IDMEN_AE_EDIT_PASTE,           MIS_TEXT, MIA_DISABLED
  MENUITEM       IDT_IDMEN_AE_EDIT_DELETE,          IDMEN_AE_EDIT_DELETE,          MIS_TEXT
  MENUITEM    "",                                   -1,                            MIS_SEPARATOR
  MENUITEM       IDT_IDMEN_AE_EDIT_SELECTALL,       IDMEN_AE_EDIT_SELECTALL,       MIS_TEXT
  MENUITEM       IDT_IDMEN_AE_EDIT_DESELECTALL,     IDMEN_AE_EDIT_DESELECTALL,     MIS_TEXT
  MENUITEM    "",                                   -1,                            MIS_SEPARATOR
  MENUITEM       IDT_IDMEN_AE_PALETTE_COPY,         IDMEN_AE_PALETTE_COPY,         MIS_TEXT, MIA_DISABLED
  MENUITEM       IDT_IDMEN_AE_PALETTE_PASTE,        IDMEN_AE_PALETTE_PASTE,        MIS_TEXT, MIA_DISABLED
END

